<!DOCTYPE HTML>
<html>
<head> 
    <title>Simple Web Calculator</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Simple Calculator</h1>
    <br />
	<form action="/calculate" method="POST">
		<span>Enter the number: </span>

		<br>
		<input type="number" name="currentNumber" value="0" />
		<button type="submit">SUBMIT</button>

	</form>
	<br />
	<span>Result:</span>
	<span th:text="${result}"></span>
	
</body>
</html>